html{
    scroll-behavior: smooth;
}

section, header {
    scroll-margin-top: 90px;
}

section {
    scroll-margin-top: 100px;
}

header {
    scroll-margin-top: 100px
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 0px 20px ;
}

/*
* menu
*/
nav {
    background-color:#355872 ;
    color: aqua;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav  > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.menu {
    width: auto;
  
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s;
    padding: 5px 10px;
}

.klik:hover {
    transform: scale(1.05) translateY(-3px);
    color: aqua;
    background-color: #2c3e50;
    border-radius: 5px;
}

/*
*
*/
header {
    background-color: #7AAACE;
    height: 100vh;
    display: flex;
    align-items: center;
}

header > .lalala{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
}

.teks-utama {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.teks-utama h1{
  margin: 0;
  font-size: 80px;
  color: whitesmoke;
  font-weight: bold;
}
  

.teks-utama > h2 {
    font-size: 60px;
    color: aqua;
    margin: 0;
    font-weight: 300;
}

.teks-utama h3 {
    font-size: 30px;
    color: #dde6ed;
}



.button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 12px 28px;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    background-color: #2c3e50
}

.button-xl{
    font-size: 1.4rem;
    padding: 15px 30px;
    width: fit-content;
}

.wajah-saya {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wajah-saya .foto-profil {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid white;
}

.bagian-profil {
    background-color: #9CD5FF;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.wrapper-profil  h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 30px;
}

.tex-profil {
    background-color: #7AAACE;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 90%;
    
}
.isi-profil {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    
}

.bagian-skill {
    background-color: aqua;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.bagian-penugasan {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper-penugasan h1 {
    align-items: center;
    text-align: center;
}

.isi-tugas-2 {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 1100px;
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
}

.tombol-TOR {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.btn-tor {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
}

.btn-kuning {
    background-color: #ffb300;
    color: #000;
}

.isi-tugas-3 {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    max-width: 1100px;
    width: 90%;
    margin: 20px auto;
    font-size: 25px;
    
}

.isi-tugas-3 img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}

.btn-download {
    display: inline-block;
    margin-top: 25px;
    align-self: center;
    padding: 10px 20px;
    background-color: azure;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-download:hover {
    background-color: bisque;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.fitur-kontak {
    background-color: darkblue;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper-kontak > h1 {
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: white;
}

.wrapper-kontak > p {
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #dde6ed;
}